/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, body, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /CSS reset */
* {
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
}
* a {
  text-decoration: none;
}

body {
  background: #226fff;
  font-family: "Roboto Slab", serif;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-size: contain;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.small-nav {
  width: 60px;
  height: 60px;
  background: #ff7e22;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  z-index: 1;
  padding: 5px 5px 5px 5px;
  position: fixed;
  margin: 20px 0 0 20px;
}

.menu-line {
  display: block;
  width: 30px;
  border-top: #ffffff 3px solid;
  content: "";
  margin: 5px 10px;
  text-align: center;
}

.big-nav {
  display: none;
  height: 100%;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  background-color: #ff7e22;
  border-right: #ffffff 2px solid;
  font-family: "Roboto", sans-serif;
}

.big-nav a {
  color: #ffffff;
}

.big-nav a:hover {
  color: #226fff;
}

.block-letter {
  padding: 30px 0px 30px;
  border-bottom: #ffffff 2px solid;
  width: 160px;
  font-size: 80px;
}

.big-nav-list {
  padding: 30px 0 20px;
  font-size: 18px;
}
.big-nav-list li {
  padding: 10px 0;
}

.social-media {
  margin: 0px 20px;
}

.fa-linkedin:hover {
  color: #226fff;
  background-color: #ffffff;
}

@media screen and (min-width: 576px) {
  .small-nav {
    display: none;
  }

  .big-nav {
    display: flex;
  }
}
header {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url(assets/banner.jpg);
  background-repeat: no-repeat;
  justify-content: center;
}

#introduction {
  display: flex;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#scroll-area {
  display: flex;
  flex-direction: column;
  height: 20vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#me {
  font-size: 45px;
}

#role {
  font-size: 25px;
  padding: 50px 0 0;
}

#scroll-call-arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (min-width: 576px) {
  header {
    width: calc(100% - 160px);
    margin-left: 160px;
  }
}
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(assets/coding-placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin: 20px 0 0 0;
  border: #ffffff 2px solid;
  padding-top: 140px;
  padding-bottom: 10px;
  padding-left: 4px;
  text-align: left;
}

.project-button {
  width: 100px;
  height: 40px;
  border: solid #226fff 3px;
  border-radius: 3px;
  background-color: #226fff;
  font-size: 16px;
  padding: 3px;
}

.project-button:hover {
  background-color: #ff7e22;
  border-color: #ff7e22;
}

.project-title {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 576px) {
  .projects {
    width: calc(99% - 163px);
    margin-left: 160px;
  }

  .project {
    margin-left: 5px;
  }
}
#contact-area {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
  justify-content: space-between;
}
#contact-area h2 {
  font-size: 40px;
}
#contact-area h4 {
  font-size: 20px;
}
#contact-area p {
  font-size: 13px;
  margin: 10px 0;
}
#contact-area form {
  margin: 20px 0 0;
}
#contact-area input,
#contact-area textarea {
  margin: 15px 0 0;
}

#contact-methods {
  margin: 10px 0;
}

#about-page {
  width: 100vw;
  height: 100vh;
}

#about-title {
  display: flex;
  font-size: 35px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  #about-page {
    width: calc(100% - 163px);
    margin-left: 160px;
  }

  #about-container {
    width: 300px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  #about-container {
    width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  #about-container {
    width: 700px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  #about-container {
    width: 1000px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */