/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, body, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /CSS reset */
body {
  background: #455680;
  font-family: "Roboto Slab", serif;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-size: contain;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
}
* a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.small-nav {
  width: 60px;
  height: 60px;
  background: #ff7e22;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  z-index: 1;
  padding: 5px 5px 5px 5px;
  position: fixed;
  margin: 20px 0 0 20px;
}

.menu-line {
  display: block;
  width: 30px;
  border-top: #ffffff 3px solid;
  content: "";
  margin: 5px 10px;
  text-align: center;
}

.big-nav {
  display: none;
  height: 100%;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  background-color: #ff7e22;
  border-right: #ffffff 2px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.big-nav a {
  color: #ffffff;
}

.big-nav a:hover {
  color: #11CCED;
}

.block-letter {
  padding: 30px 0px 30px;
  border-bottom: #ffffff 2px solid;
  width: 160px;
  font-size: 80px;
}

.big-nav-list {
  padding: 30px 0 20px;
  font-size: 18px;
}
.big-nav-list li {
  padding: 15px 0;
}

.contact-me-link {
  border-top: 3px #ffffff solid;
  border-bottom: 3px #ffffff solid;
  font-size: 18px;
  padding: 10px;
  margin: 0 0 15px;
}

.social-media {
  margin: 0px 20px;
  font-size: 24px;
}

.fa-linkedin-in {
  color: #ff7e22;
  background: #ffffff;
  padding: 5px;
  border-radius: 3px;
}

.fa-linkedin-in:hover {
  color: #ffffff;
  background-color: #0E76A8;
}

.fa-github {
  color: #ff7e22;
  background: #ffffff;
  padding: 5px;
  border-radius: 3px;
}

.fa-github:hover {
  color: #ffffff;
  background-color: #24292E;
}

@media screen and (min-width: 576px) {
  .small-nav {
    display: none;
  }

  .big-nav {
    display: flex;
  }
}
header {
  height: 100vh;
  text-align: center;
}

.hero-image {
  background: url(assets/hero-image.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position: center;
  content: "";
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}

.hero-image::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

#introduction {
  display: flex;
  flex-direction: column;
  height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#scroll-area {
  display: flex;
  flex-direction: column;
  height: 20vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#me {
  font-size: 35px;
}

#role {
  font-size: 25px;
  padding: 50px 0 0;
}

@media screen and (min-width: 576px) {
  .hero-image {
    width: calc(100% - 163px);
    margin-left: 161px;
  }

  #introduction,
#scroll-area {
    width: calc(100% - 163px);
    margin-left: 161px;
  }

  #me {
    font-size: 45px;
  }
}
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25px;
}

.projects-mainpage {
  margin: 75px 0 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(assets/coding-placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin: 20px 0 0 0;
  border: #11CCED 2px solid;
  border-radius: 13px;
  padding-top: 140px;
  padding-bottom: 15px;
  padding-left: 8px;
  text-align: left;
  transition: transform 0.5s;
}

.project:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.project-button {
  width: 100px;
  height: 40px;
  border: solid #455680 3px;
  border-radius: 3px;
  background-color: #455680;
  font-size: 16px;
  padding: 3px;
}

.project-button:hover {
  background-color: #ff7e22;
  border-color: #ff7e22;
}

.project-title {
  font-family: "Roboto", sans-serif;
}

#project-one {
  background: url(assets/netmattersfake.png);
}

#project-two {
  background: url(assets/Axureproject.png);
}

#project-one,
#project-two,
#project-three,
#project-four,
#project-five,
#project-six {
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  .projects {
    width: calc(99% - 163px);
    margin-left: 160px;
  }

  .project {
    margin-left: 5px;
  }
}
@media screen and (min-width: 768px) {
  #projects {
    display: flex;
    -moz-columns: 2;
         columns: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects-mainpage {
    padding: 0 0;
  }

  .project-mainpage {
    flex-basis: 250px;
  }
}
@media screen and (min-width: 955px) {
  #project-one,
#project-two,
#project-three,
#project-four,
#project-five,
#project-six {
    margin-left: 10px;
  }
}
@media screen and (min-width: 992px) {
  #project-two,
#project-five {
    margin-left: 5px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .project-mainpage {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 1571px) {
  #project-one,
#project-two,
#project-three,
#project-four,
#project-five,
#project-six {
    margin-left: 10px;
  }
}
#contact-area {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0;
  padding: 0 0 0 8%;
  justify-content: space-between;
  text-align: left;
}
#contact-area h2 {
  font-size: 40px;
}
#contact-area p {
  font-size: 16px;
  margin: 15px 0;
}
#contact-area form {
  margin: 20px 0 0;
}
#contact-area textarea {
  resize: none;
  overflow: auto;
  height: 100px;
  display: block;
}

#contact-email-link,
#contact-telephone-link {
  font-size: 16px;
  color: #11CCED;
  display: block;
}

#contact-email-link:hover,
#contact-telephone-link:hover {
  text-decoration: underline;
}

#contact-email-link {
  margin: 10px 0 0;
  font-family: "Roboto", sans-serif;
}

#contact-area-container {
  padding-right: 5px;
}

.contact-form-input {
  margin: 15px 0 0;
  width: 90%;
  font-family: "Roboto Slab", serif;
  color: #ff7e22;
}

.contact-form-input::-moz-placeholder {
  color: #ff7e22;
}

.contact-form-input:-ms-input-placeholder {
  color: #ff7e22;
}

.contact-form-input::placeholder {
  color: #ff7e22;
}

.contact--name {
  width: 100%;
  margin: 0;
  font-family: "Roboto Slab", serif;
  color: #ff7e22;
}

#contact-form-first {
  width: 48%;
}

#contact-form-last {
  width: 40%;
}

#contact-methods {
  margin: 40px 0;
}

#contact-form-submit {
  width: 100px;
  height: 35px;
  background: #ff7e22;
  color: #ffffff;
  margin-top: 15px;
  border-radius: 6px;
  border: #ffffff 2px solid;
}

#contact-form-submit:hover {
  background: #11CCED;
  color: #000000;
  border: #000000 2px solid;
}

#scroll-up {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 20px;
}

@media screen and (min-width: 576px) {
  #contact-area {
    width: calc(100% - 163px);
    margin-left: 160px;
  }

  #contact-email-link,
#contact-telephone-link {
    font-size: 20px;
  }

  .contact-area-container {
    padding-left: 30px;
  }

  #scroll-up {
    width: calc(100% - 163px);
    margin-left: 160px;
  }
}
@media screen and (min-width: 768px) {
  #contact-area p {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  #contact-area {
    flex-direction: row;
  }
  #contact-area form {
    padding-left: 30px;
  }

  .contact-form-input {
    width: 80%;
  }

  .contact--name {
    width: 80%;
  }

  #contact-form-last {
    width: 40%;
  }

  #contact-form-first {
    width: 39.5%;
  }
}
#about-page {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#about-container {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#about-me-paragraph {
  background-color: #11CCED;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
  margin: 0 5% 50px;
}
#about-me-paragraph p {
  color: #000000;
}

#about-title {
  display: flex;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  #about-page {
    width: calc(100% - 163px);
    margin-left: 160px;
  }

  #about-title {
    font-size: 45px;
    padding-top: 50px;
  }

  #about-container {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  #about-container {
    width: 500px;
  }
}
@media screen and (min-width: 992px) {
  #about-container {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  #about-container {
    width: 1000px;
  }
}
#SCSscheme-title {
  padding: 100px 0;
  font-size: 30px;
}

#SCSscheme {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.SCSscheme--card {
  width: 80%;
  margin: 20px 0 20px 10%;
  background-color: #11CCED;
  padding: 30px;
  border-radius: 13px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}
.SCSscheme--card h4 {
  font-size: 19px;
  margin: 10px 0;
}

.SCSscheme--card--title {
  font-size: 22px;
  margin: 0 0 15px;
  color: #000000;
}

.SCSscheme--card--filler {
  color: #000000;
}

.treehouse_profile {
  color: #455680;
}

.treehouse_profile:hover {
  color: #ff7e22;
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  #SCSscheme,
#SCSscheme-title {
    width: calc(100% - 160px);
    margin-left: 160px;
  }

  #SCSscheme-title {
    padding: 50px 0;
    font-size: 45px;
  }
}
@media screen and (min-width: 1400px) {
  #SCSscheme {
    flex-direction: row;
    padding-left: 160px;
    margin: 20px 0 20px 0;
  }

  .SCSscheme--card {
    margin: 20px 0 20px 8%;
  }
}
#coding-title {
  padding: 100px 0 50px;
  font-size: 30px;
}

#coding-projects {
  justify-content: space-around;
  margin-bottom: 50px;
}

#coding-project-one {
  background: url(assets/netmattersfake.png);
}

#coding-project-two {
  background: url(assets/Axureproject.png);
}

#coding-project-one,
#coding-project-two,
#coding-project-three,
#coding-project-four,
#coding-project-five,
#coding-project-six {
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  #coding-title {
    width: calc(100% - 160px);
    margin-left: 160px;
    padding: 50px 0;
    font-size: 45px;
  }
}
@media screen and (min-width: 768px) {
  #coding-projects {
    display: flex;
    -moz-columns: 2;
         columns: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .coding-project {
    flex-basis: 260px;
    margin: 50px 0 0;
  }
}
@media screen and (min-width: 992px) {
  .coding-project {
    flex-basis: 380px;
  }
}
@media screen and (min-width: 1200px) {
  .coding-project {
    flex-basis: 460px;
  }
}/*# sourceMappingURL=style.css.map */