@use '../abstracts/index' as *;

.about-first-line{
  color: $alt-fill-color;
  font-size: 20px; 
  font-weight: 500;
}

.about-paragraphs{
  margin: 15px 0;
}

#about-scheme-link{
  text-decoration: underline;
}

#about-scheme-link:hover{
  color: $alt-fill-color;
}
