@use '../abstracts/index' as *;

html{
    scroll-behavior: smooth;
}

body {
    background: $primary-color;
    font-family:  'Roboto', sans-serif;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-size: contain;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    color: $fill-color;
    a{
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}


#menu-showing {
    transition: transform ease-in 250ms;
    justify-content: space-around;
}