@use '../abstracts/index' as *;

#coding-container {
    padding: 0 10px 0 3px;
    margin-bottom: 100px;
}

#coding-title {
    padding: 100px 0 50px;
    font-size: 30px;
    }


#coding-example {
    background: $tertiary-color;
    max-height: 900px;
    margin: 50px 5% 0;
    flex-basis: 260px;
    max-width: 900px;
    border-radius: 13px;
    box-shadow: 7px 7px rgba(0,0,0,0.5);
    padding: 0 8px;
}

#coding-example-title {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0 0 20px;
    color: $alt-fill-color; 
}

#coding-example-code {
    content: "";
    max-width: 880px;
    flex-basis: 240px;
    height: 250px;
    margin: 0 0 20px;
}

#coding-example-code-window {
    height: 300px;
    width: 100%;
}

.language-js {
    background-color: $coding-background;
    overflow: scroll;
    text-align: left;

    span {
        font-size: 16px;
        line-height: 22px;
    }
}
.coding-example-description-container{
    margin: 80px 0 0;
    padding-bottom: 30px;
}

.coding-example-description {
    color: $alt-fill-color; 
}

.token-action {
    color: rgb(71, 111, 241);
}

.token-variable-container{
    color: yellow;
}

.token-string {
    color: rgb(175, 127, 81);
}

.token-while {
    color: mediumorchid;
}

.token-variable-name {
    color: $tertiary-color;
}

.token-character{
    color: lightblue;
}

.token-selector{
    color: burlywood;
}

.coding-examples-links{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.coding-example-button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Nav-out {
    overflow-x: hidden;

    .big-nav {
        transform: translateX(0);
    }

    .small-nav {
        transform: translateX(163px);
        padding: 0 0 10px;

        .menu-line{
            display: none;
        }
        
        .menu {
            display: none;
        }

        .close-menu {
            display: block;
        }
    }

    #menu-showing {
        overflow-x: hidden;
        transform: translateX(80px);
    
        #menu-overlay {
            background: rgba(3, 2, 1, 0);
            overflow: hidden;
            position: fixed;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 4;
            opacity: .3;
            width: 100%;
            height: 100vh;
        }
    
        #about-page {
            transform: translateX(163px);
        }
    
        #SCSscheme-page {
            transform: translateX(163px);
        }
    
        #coding-container {
            transform: translateX(163px);
        }
    }
    
}

@media screen and (min-width:$breakpoint-small) {

    #coding-title {
        padding: 50px 0;
        font-size: 45px;
    }

    #coding-example {
        padding: 50px 30px;
        margin: 50px auto 0;
        box-shadow: 10px 10px rgba(0,0,0,0.5);
    }

    .coding-examples-links{
        padding-bottom: 0;
    }
}

@media screen and (min-width(760px)) {
    .menu-showing {

        #contact-area {
            margin-left: 80px;
        }
    
        .projects {
            margin-left: 80px;
        }
    
        #scroll-up {
            margin-left: 80px;
        }

        #about-page {
            margin-left: 80px;
        }

        #SCSscheme-page {
            margin-left: 80px;
        }

        #coding-container {
            margin-left: 80px;
        }
    }
}

@media screen and (min-width(1105px)) {
    #coding-container {
        padding: 0 15px;
    }
}
