@use '../abstracts/index' as *;

#coding-title {
    padding: 100px 0 50px;
    font-size: 30px;
    }

@media screen and (min-width:$breakpoint-small) {
    #coding-title {
        width: calc(100% - 160px);
        margin-left: 160px;
        padding: 50px 0;
        font-size: 45px;
    }
    }
