@use '../abstracts/index' as *;

#contact-area {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
    justify-content: space-between;

    h2{
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
        margin: 10px 0;
    }

    form {
        margin: 20px 0 0;
    }

    input,
    textarea {
        margin: 15px 0 0;
    }
}

#contact-methods {
    margin: 10px 0;
}