@use '../abstracts/index' as *;

#contact-area {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
    justify-content: space-between;

    h2{
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
        color: $tertiary-color;
    }

    h4:hover {
        text-decoration: underline;
    }

    p {
        font-size: 13px;
        margin: 10px 0;
    }

    form {
        margin: 20px 0 0;
    }

    textarea {
        resize: none;
        overflow: auto;
        height: 140px;
    }
}

.contact-form-input {
    margin: 15px 0 0;
    width: 80%;
    font-family: 'Roboto Slab', serif;
}

.contact-form-input::placeholder {
    color: $secondary-color;
}

#contact-methods {
    margin: 10px 0;
}

#scroll-up {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 20px;
}

@media screen and (min-width:$breakpoint-small) {
    #contact-area {
        width: calc(100% - 163px);
        margin-left: 160px;
    }

    #scroll-up {
        width: calc(100% - 163px);
        margin-left: 160px;
    }
}

@media screen and (min-width:$breakpoint-medium) {
    #contact-area {
        p {
            font-size: 16px;
        }
    }
}


@media screen and (min-width:$breakpoint-large) {
    #contact-area {
        flex-direction: row;
    }
}