@use '../abstracts/index' as *;

header {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url(assets/banner.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    font-family: 'Roboto', sans-serif;;
}

#introduction {
    display: flex;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#scroll-area {
    display: flex;
    flex-direction: column;
    height: 20vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#me {
    font-size: 45px;
}

#role {
    font-size: 25px;
    padding: 50px 0 0;
}

#scroll-call-arrow {
    border: solid $fill-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  @media screen and (min-width:$breakpoint-small) {
    header {
        width: calc(100% - 163px);
        margin-left: 160px;
    }

    // #scroll-area {
    //     width: calc(100vw - 162px);
    //     margin-left: 160px;
    // }
  }