@use '../abstracts/index' as *;

.small-nav {
    width: 60px;
    height: 60px;
    background: $secondary-color;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
    padding: 5px 5px 5px 5px;
    position: fixed;
    margin: 20px 0 0 20px;
}

.menu-line {
    display: block;
    width: 30px;
    border-top: $fill-color 3px solid;
    content: '';
    margin: 5px 10px;
    text-align: center;
}

.big-nav {
    display: none;
    height: 100%;
    width: 160px;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    flex-direction: column;
    text-align: center;
    background-color: $secondary-color;
    border-right: $fill-color 2px solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.big-nav a:hover {
    color: $alt-fill-color;
}

.block-letter {
    padding: 30px 0px 30px;
    border-bottom: $fill-color 2px solid;
    width: 160px;
    font-size: 80px;
}

.big-nav-list {
    padding: 30px 0 20px;
    font-size: 18px;

    li {
        padding: 15px 0;
    }
}

.contact-me-link {
    border-top: 3px $fill-color solid;
    border-bottom: 3px $fill-color solid;
    font-size: 18px;
    padding: 10px;
    margin: 0 0 15px;
}

.social-media {
    margin: 0px 20px;
    font-size: 24px;
}

.fa-linkedin-in {
    color: $secondary-color;
    background: $fill-color;
    padding: 5px;
    border-radius: 3px;
}

.fa-linkedin-in:hover {
    color:$fill-color;
    background-color: $linkedin-color;
}

.fa-github {
    color: $secondary-color;
    background: $fill-color;
    padding: 5px;
    border-radius: 3px;
}

.fa-github:hover {
    color:$fill-color;
    background-color: $github-color;
}

.currentPage {
    text-decoration: underline;
    text-decoration-color: $alt-fill-color;
    text-decoration-thickness: 3px;
}

@media screen and (min-width:$breakpoint-small) {
    .small-nav {
        display: none;
    }

    .big-nav {
        display: flex;
    }
}