@use '../abstracts/index' as *;

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/coding-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin: 20px 0 0 0;
    border: $tertiary-color 2px solid;
    border-radius: 13px;
    padding-top: 140px;
    padding-bottom: 15px;
    padding-left: 8px;
    text-align: left;
    transition: transform .5s;
}

.projects-mainpage {
    padding: 0 15px;
}

.project:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.project-button {
    width: 100px;
    height: 40px;
    border: solid $primary-color 3px;
    border-radius: 3px;
    background-color: $primary-color;
    font-size: 16px;
    padding: 3px;
}

.project-button:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.project-title {
    font-family: 'Roboto', sans-serif;
}

#project-one {
    background: url(assets/netmattersfake.png);
}

#project-two {
    background: url(assets/Axureproject.png);
}

#project-one,
#project-two,
#project-three,
#project-four,
#project-five,
#project-six {
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width:$breakpoint-small) {
    .projects {
        width: calc(99% - 163px);
        margin-left: 160px;
    }

    .project {
        margin-left: 5px;
    }
  }

  @media screen and (min-width:$breakpoint-medium) {
    #projects {
        display: flex;
        columns: 2;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projects-mainpage {
        padding: 0 0;
    }

    .project-mainpage {
        flex-basis: 250px;
    }
}

@media screen and (min-width:955px) {
    #project-one,
    #project-two,
    #project-three,
    #project-four,
    #project-five,
    #project-six {
        margin-left: 10px;
    }
}

@media screen and (min-width:$breakpoint-large) {
    #project-two,
    #project-five {
        margin-left: 5px;
        margin-right: 0;
    }
}

@media screen and (min-width:$breakpoint-xl) {
    .project-mainpage {
        flex-basis: 450px;
    }
}

@media screen and (min-width:1571px) {
    #project-one,
    #project-two,
    #project-three,
    #project-four,
    #project-five,
    #project-six {
        margin-left: 10px;
    }
}