@use '../abstracts/index' as *;

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/coding-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin: 20px 0 0 0;
    border: $fill-color 2px solid;
    padding-top: 140px;
    padding-bottom: 10px;
    padding-left: 4px;
    text-align: left;
}

.project-button {
    width: 100px;
    height: 40px;
    border: solid $primary-color 3px;
    border-radius: 3px;
    background-color: $primary-color;
    font-size: 16px;
    padding: 3px;
}

.project-button:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.project-title {
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:$breakpoint-small) {
    .projects {
        width: calc(99% - 163px);
        margin-left: 160px;
    }

    .project {
        margin-left: 5px;
    }
  }