@use '../abstracts/index' as *;

// Page and area styles

.projects {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 75px 0 0;
}

.projects-container {
    width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 25px;
    justify-content: space-around;
}

// individual project cards

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 0 0;
    border: $tertiary-color 2px solid;
    border-radius: 13px;
    text-align: left;
    padding-bottom: 15px;
    overflow: hidden;
    height: 300px;
    position: relative;
    width: 100%;
}

.project-background {
    content: "";
    background: url(assets/coding-placeholder-bigger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    width: 100%;
    height: 300px;
    border-radius: 13px;
    position: absolute;
    overflow: hidden;
}

.project-background::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
}

.project-button {
    width: 100px;
    height: 40px;
    border: solid $primary-color 3px;
    border-radius: 3px;
    background-color: $primary-color;
    font-size: 16px;
    padding: 3px;
    margin-left: 8px;
    z-index: 2;
    position: relative;
}

.project-button:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.project-title {
    // font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 160px;
    margin-bottom: 10px;
    margin-left: 8px;
    z-index: 2;
    position: relative;
    color: $fill-color;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.project-title-filled {
    margin-top: 140px;
}

.project-description{
    display: flex;
    font-size: 16px;
    margin-top: 5px;
    flex-wrap: wrap;
    max-width: 400px;
    color: $fill-color;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#project-one {
    .project-background{
    background-image: url(assets/netmattersfake.png);    
    }
    
}

#project-two {
    .project-background {
    background-image: url(assets/Axureproject.png);
    }
    
}

#project-three {
    .project-background{
        background-image: url(assets/group-project-cover.png);
    }
}

#project-one,
#project-two,
#project-three,
#project-four,
#project-five,
#project-six {
    background-size: cover;
    background-repeat: no-repeat;
}

#project-four,
#project-five,
#project-six {
    display: none;
}

// .project:hover {
//     .project-title {
//       transform: translatey(-20px);
//       margin-bottom: 0px;
//       margin-top: 180px;
//       transition: transform 2s ease-in-out;
//     }

//     .project-description{
//         display: block;
//         animation: fadeIn linear 3s;
//     }
// }

.unconnected{
    display: none;
}

@media screen and (min-width:350px) {
    .project-title {
        margin-top: 178px;
    }

}

@media screen and (min-width:$breakpoint-medium) {
    .project {
        width: calc(50% - 20px);
    }
}

@media screen and (min-width:$breakpoint-xl) {

    #projects {
        display: flex;
        columns: 2;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        width: calc(33% - 20px);
    }
}