@use '../abstracts/index' as *;

#SCSscheme-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#SCSscheme-title {
    display: flex;
    padding: 100px 0;
    font-size: 30px;
    text-align: center;
}

#SCSscheme {
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.SCSscheme--card {
    margin: 30px 15px 20px;
    background-color: $tertiary-color;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);

    h4 {
        font-size: 19px;
        margin: 10px 0;
    }
}

.SCSscheme--card--title {
    font-size: 22px;
    margin: 0 0 15px;
    color: $alt-fill-color;
}

// .scs-left-align{
//     text-align: left;
// }

.SCSscheme--card--filler {
    color: $alt-fill-color;
}

.treehouse_profile {
    color: $fill-color;
}

.treehouse_profile:hover {
    color: $alt-fill-color;
    text-decoration: underline;
}

@media screen and (min-width:$breakpoint-small) {

   

    #SCSscheme-title {
        padding: 50px 0;
        font-size: 45px;
    }
}

@media  screen and (min-width:734px) {
    .SCSscheme--card {
        width: 500px;
    }   
}

@media screen and (min-width:751px) {
    
    #SCSscheme {
        display: flex;
    }

    .SCSscheme--card {
            width: 90%;
        }
}

@media screen and (min-width:$breakpoint-medium) {
    .SCSscheme--card {
        width: 80%;
    }
}
  
@media screen and (min-width:1400px) {

    .SCSscheme--card {
        margin: 20px 0 20px;
        width: 900px;
    }

    .SCSscheme-title {
        width: 900px;
    }
}