// Background colours
$primary-color:#455680;
$secondary-color:#ff7e22;
$tertiary-color:#11CCED;
$coding-background: #272822;

// Text colours
$fill-color:#ffffff;
$alt-fill-color: #000000;

// Icon colours
$linkedin-color: #0E76A8;
$github-color: #24292E;

// media query variables
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1200px;

// #226fff