// Colours

$primary-color:#226fff;
$secondary-color:#ff7e22;
$tertiary-color: #11CCED;

$fill-color:#ffffff;

// media query variables

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1200px;